

:root {
  --text: black;
  --grey: grey;
  --primary: orange;
  --secondary: white;
  --contrast: #f5f5dc;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

nav {
  width: 100vw;
  height: 20%;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid var(--text);
  background-color: var(--primary);
}

nav > ul {
  width: 60%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

@media (max-width: 700px) {
  nav > ul {
    width: 100%;
  }
}

ul > li {
  color: black;
  text-decoration: none;
}

li > a {
  color: black;
  text-decoration: none;
}

/* LOGIN STYLES */

.input_Divs {
  margin: 1rem;
}

.center {
  display: flex;
  justify-content: center;
}